.list {
  display: none;
}

.jumbotron {
  background-image: url(https://images.theconversation.com/files/220456/original/file-20180525-51102-1k5g8bj.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop);
  color: rgb(249, 249, 249);
  text-align: center;
}